%h1 Welcome!

%p
  Thanks for participating in
  = @test.name

%p Here's how it works:

%ol
  %li You'll be asked a series of questions
  %li Browse the site below, answer the question and hit next
  %li That's it!

%button{href: "#", value: 'Start'} Start
