%p
  Hi there!
  We'd really appreciate it if you took a few moments to complete this quick user experience questionnaire.
  Here's the link:
  =button_to 'Take survey', "#{@url}", class: "active"

  Thanks very much!


=image_tag "https://s3-us-west-2.amazonaws.com/uxbuddy/uxbuddy_horizontal.png"
