%p
  Hi there!
  We'd really appreciate it if you took a few moments to complete this quick user experience questionnaire.
  Here's the link:
  =link_to @url, "#{@url}", class: "active"
  Thanks very much!
