
%table.highlight#summary

  %tbody
    %tr
      %td Test URL:
      %td
    %tr
      %td Number of respondents:
      %td
    %tr
      %td Percentage completion:
      %td
    %tr
      %td Lowest rated question:
      %td
    %tr
      %td Highest rated question:
      %td
