#intro {
  margin-top: 5em;
}

#title {
  font-size: 10em;
}

#toast-container {
  top: 7% !important;
  right: 8% !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

ul#footer li {
  display: inline-block;
  width: 160px;
}

i {
  font-size: 30px;
}

#login {
  margin-top: 3em;
}

#nav-logo {
  margin-top: 0.35em;
  margin-left: 1em;
}

.banner {
  width: 100%;
}

.parallax img {
  display: block !important;
}

.feature {
  margin: 20px 0px;
  width: 100%;
}

.feature-copy {
  padding: 20px 0px;
}

.feature-copy h2 {
  font-weight: 200;
}

.logo {
  width: 150px;
  display: block;
  margin-bottom: 150px;

}

i.fa.fa-chevron-circle-down {
  color: white;
}

.front {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.section {
  height: 800px;
}

#find-out-more {
  position: absolute;
  left: 50%;
  height: 100px;
  text-align: center;
  margin: -100px;
  z-index: 4;
}

#height-container {
  height: 95vh;
  z-index: 1;
}

#headline {
  font-family: Raleway;
  font-size: 6em;
}

#get-started-row {
  margin-top: 5em;
}

#intro-text-div {
  margin-top: 1.5em;
}
