#intro {
  margin-top: 5em;
}

#title {
  font-size: 10em;
}

#toast-container {
  top: 7% !important;
  right: 8% !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

ul#footer li {
  display: inline-block;
  width: 160px;
}

#login {
  margin-top: 3em;
}

#nav-logo {
  margin-top: 0.35em;
  margin-left: 1em;
}

#home-logo {
  margin-left: 4em;
  margin-top: 1.5em;
  right: 50%
}

.banner {
  width: 100%;
}

// .front, img {
//   position: relative;
//   display: block !important;
//   width: 100px;
//   z-index: 2;
// }

.logotrans {
  // display: block !important;
  // position: absolute;
  // width: 100px;
  // height: 100px;
  // z-index: 3;
}


.feature {
  margin: 20px 0px;
  width: 100%;
}

.feature-copy {
  padding: 20px 0px;
}

.chevron {
  position: absolute;
  top: 300px;
}

.logo {
  float: none !important;
  width: 100% !important;
  display: block;
  background-image: url('logo_trans.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 170px;
  // border: 2px solid white;
}

.front {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

#height-container {
  height: 85vh;
  z-index: 1;
}

#headline {
  font-family: Raleway;
  font-size: 6em;
}

#get-started-row {
  margin-top: 5em;
}

#intro-text-div {
  margin-top: 1.5em;
}
