#intro {
  margin-top: 5em;
}

#title {
  font-size: 10em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

ul#footer li {
  display: inline-block;
  width: 110px;
}
