#add-test-content {
  height: 110px;
}
.card-image {
  height: 220px;
}

.test-container {
  background-color: #eceff1;
  padding: 1em;
}

.ux-buddy-text {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#create-test-form {
  margin-top: 3em;
}

#test-form-col {
  margin-left: 0;
  padding-left: 0;
}

#test-welcome-container {
  margin-left: auto;
  margin-right: auto;
}

#start {
  margin-left: auto;
  margin-right: auto;
}

#test-title {
  display: none;
  margin-bottom: 3px;
}

#test-question {
  display: none;
}

#test-question p {
  font-size: 1.3em;
}

#test-comment {
  display: none;
}

#toggle {
  padding-bottom: 0.5em;
  display: none;
}

#iframe-row {
  display: none;
}

#iframe-div {
  margin-top: 1em;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#iframe {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  border: none;
}

#questions-div {
  margin-bottom: 0.3em;
}

#slider-div {
  margin-left: 0px;
  padding-left: 0px;
}

#comment-div {
  margin-left: 0px;
  padding-left: 0px;
}

#thanks-iframe-div #thanks-iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#email-div {
  padding-left: 0px;
  margin-left: 0px;
}

#url a {
  font-size: 1.5em;
}

#url-title {
  margin-bottom: 1em;
}
