// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#create-test-form {
  margin-top: 3em;
}

#test-form-col {
  margin-left: 0;
  padding-left: 0;
}

#test-title {
  display: none;
}

#test-question {
  display: none;
}

#test-question p {
  font-size: 1.3em;
}

#test-comment {
  display: none;
}

#toggle {
  padding-bottom: 0.5em;
  display: none;
}

#iframe {
  display: none;
}
