.row#intro
  .col.s12
    %h1.center-align#title UX Buddy
    %p.flow-text
      Since the begginning of the internet, testing prototypes has been arduous, tedious, and painful. To make things worse, most of the time the feedback is totally useless and impossible to interpret.
    %p.flow-text
      %strong Well, not anymore!
      \ UX Buddy makes early stage testing a breeze. Just submit a URL, select your questions, and send out the URL to your guinea pigs, and we take care of the rest.

.row.valign-wrapper
  .col.s7
    %h3.strong.valign What are you waiting for?
  .col.s4
    =button_to "Get started", new_test_path, method: :get, class: "btn-large waves-effect waves-light valign"
