#test-welcome-container
  %p.flow-text Thanks for participating in this User Experience test. Here's how it works:

  %ol.flow-text
    %li Click 'Start' and you'll see a site appear
    %li Answer the series of questions and feel free to add any comments
    %li Click 'Finish' to submit your answers, and that's it!

  %a.btn.waves-effect.waves-light.right{ href: "javascript:void(0)", id: 'start' } Start
