%h2.center-align Your Tests
%table.bordered
  -@tests.each do |t|
    %tr.collection-item
      %td=t.name
      %td=link_to "View Report", test_report_index_path(t), class: "active"
    -# =link_to "View Report", report_path(t), class: "active"
