%h2
  Share test for
  = @test.name

%h3
  Here's your testing prototype link:

#url
  =link_to uxbuddy_test_url, "#{uxbuddy_test_url}", class: "active"
  
%br

%h4
  Send your test out:

%input{type: "text", name: :emails, placeholder: "Add emails here" }
%input{type: "submit", value: "Send" }
