%h3

  %strong #{@test.name}
  \ // Share
%hr

%p.flow-text
  Congratulations. Your test is ready to share.

.row
  .col.s6
    %h5#url-title Share Your Test URL
    #url
      =link_to uxbuddy_test_url, "#{uxbuddy_test_url}", class: "active"
  .col.s6
    %h5 Email Your Test
    =form_tag email_test_path do
      .col.s9#email-div
        =text_field :emails, 'emails', placeholder: "Add emails here, separated by commas"
      .col.s3
        =button_tag  'Send', class: "btn waves-light waves-effect"
