%h2
  Share test for
  = @test.name

%h3
  Here's your testing prototype link:

#url
  =link_to uxbuddy_test_url, "#{uxbuddy_test_url}", class: "active"

%br

%h4
  Send your test out:

=form_tag email_test_path do
  =text_field :emails, 'emails', placeholder: "Add emails here, separated by commas"
  =submit_tag('Send')
