.welcome
  %h1 Welcome!

  %p
    ="Thanks for participating in the '" +  @test.name + "' test."

  %p Here's how it works:

  %ol
    %li You'll be asked a series of questions
    %li Browse the site below, answer the question and hit next
    %li That's it!

  %button{href: "#", id: "start", value: 'Start'} Start


.q1{style: "display:none"}
  %p Question 1
  = @questions[0].text
  %input{type: "range", id: "range1", min: "0", max: "5", step: "1"}
.q2{style: "display:none"}
  %p Question 2
  = @questions[1].text
  %input{type: "range", id: "range2", min: "0", max: "5", step: "1"}
.q3{style: "display:none"}
  %p Question 3
  = @questions[2].text
  %input{type: "range", id: "range3", min: "0", max: "5", step: "1"}
.q4{style: "display:none"}
  %p Question 4
.q5{style: "display:none"}
  %p Question 5


.toggle_button
  %a{href: "javascript:void(0)", id: 'toggle', style: "display:none"} Next

%iframe{allowfullscreen: "", id:"iframe", src: "#{@test.test_url}", width: "800", height: "600", style: "display:none"}
  %p Sorry, something seems to have gone wrong!
