.test-container.z-depth-2
  .ux-buddy-text
    .questions_container
      .welcome
        %h3
          Thank You
          =image_tag 'uxbuddy_horizontal.png', class: "right"
        %hr
        .col.12
          =render 'tests/thanks_text'
