%table.highlight#summary

  %tbody
    %tr
      %td Test URL:
      %td= @test.test_url
    %tr
      %td Number of respondents:
      %td= @respondents
    %tr
      %td Percentage completion:
      %td= @test.complete_respondents 
    %tr
      %td Number of questions:
      %td= @test.questions.count

%br
%br
