.container
  .row
    .col.s12
      %ul#footer
        %li
          %a.grey-text.text-lighten-3{:href => "https://github.com/AbigailMcP"} Abigail McPhilipps
        %li
          %a.grey-text.text-lighten-3{:href => "https://github.com/lsewilson"} Laura Wilson
        %li
          %a.grey-text.text-lighten-3{:href => "https://github.com/mfperkins"} Matthew Perkins
        %li
          %a.grey-text.text-lighten-3{:href => "https://github.com/mrmurtz"} Murtaza Abidi
        %li
          %a.grey-text.text-lighten-3{:href => "https://github.com/rosieallott"} Rosie Allott
        %li
          %a.grey-text.text-lighten-3{:href => "https://github.com/tim3tang"} Tim Tang
.footer-copyright
  .container
    .left-align © 2016, UX Buddy
