.container
  .row
    .col
      %ul#footer
        %li
          %a.grey-text.text-lighten-3{:href => "#!"} About us
        %li
          %a.grey-text.text-lighten-3{:href => "#!"} Contact us
        %li
          %a.grey-text.text-lighten-3{:href => "#!"} FAQs
.footer-copyright
  .container
    .left-align © 2016, UX Buddy
    %a.grey-text.text-lighten-4.right{:href => "#!"} More Links
