%nav
  .nav-wrapper
    %a.brand-logo{:href => "#"} UX Buddy
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => ""}
          %i.material-icons note_add
      %li
        %a{:href => ""}
          %i.material-icons equalizer
      %li
        %a{:href => "users/sign_in"} Log In
      %li
        %a.btn.waves-effect.waves-light{:href => "users/sign_up"} Sign Up
