%nav#nav
  .nav-wrapper
    %a.brand-logo{ href: root_path }
      = image_tag("uxbuddy_white.png", id: "nav-logo")
    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          %a#test-new{:href => new_test_path}
            %i.material-icons note_add
        %li
          %a#tests-all{:href => tests_path}
            %i.material-icons equalizer
        %li
          %a= link_to "Sign out", destroy_user_session_path, :method => :delete
      - else
        %li
          %a= link_to "Log In", new_user_session_path
        %li
          %a.btn.waves-effect.waves-light{:href => new_user_registration_path} Sign Up
