%nav
  .nav-wrapper
    %a.brand-logo{:href => "#"} UX Buddy
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => ""}
          %i.material-icons note_add
      %li
        %a{:href => ""}
          %i.material-icons equalizer
      %li
        %a= link_to "Log In", new_user_session_path
      %li
        %a.btn.waves-effect.waves-light{:href => "users/sign_up"} Sign Up
      %li
        %a= link_to "Sign out", destroy_user_session_path, :method => :delete
