%nav
  .nav-wrapper
    %a.brand-logo{:href => root_path} UX Buddy
    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          %a{:href => ""}
            %i.material-icons note_add
        %li
          %a{:href => ""}
            %i.material-icons equalizer
        %li
          %a= link_to "Sign out", destroy_user_session_path, :method => :delete
      - else
        %li
          %a= link_to "Log In", new_user_session_path
        %li
          %a.btn.waves-effect.waves-light{:href => new_user_registration_path} Sign Up
